.note-item {
    text-decoration: none;
}

.note-title-holder {
    text-decoration: none;
    width: 400px;
    border-top: 2px solid purple;
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom: 1px solid purple;
    cursor: pointer;
}
.note-title {
    color: orange;
}
.note-body-holder {
    width: 400px;
    border-top: 1px solid purple;
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom: 2px solid purple;
    margin-bottom: 20px;
    cursor: pointer;
}

.note-body {
    color: orange;
}



