.single-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.single-title-holder {
    width: 800px;
    border-top: 2px solid purple;
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom: 1px solid purple;
}
.single-title {
    color: orange;
}
.single-body-holder {
    width: 800px;
    border-top: 1px solid purple;
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom: 2px solid purple;
    margin-bottom: 20px;
}

.single-body {
    color: orange;
}



